body {
   margin: 0;
   padding: 0;
   font-family: 'Raleway', sans-serif;
}

* {
   box-sizing: border-box;
}

.header,
.hero-section,
.footer {
 
  background: #2E1F37 ;
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 10%; /*Used relative measurement here to ensure that the spaces to the left and right of the header maintained the same look whether the window was maximized or minimized. Same for padding in hero section*/
  
   background: #2e1f37ef ;
}

.header-logo {
   font-size: 40px;
   color: #f9f8fa;
   font-family: 'Style Script', cursive;  
}

.header-logo p{
  margin: 0; 
}


.header-links {
   display: flex;
   list-style-type: none;
}

.head-link {
   text-decoration: none;
   margin: 10px;
}

.head-link:hover {
  
   color: #B438F6 ;
}

.hero-section {
   display: flex;
   padding: 0 10%;
   justify-content: space-between;
   align-items: center;
   height: 100vh;
}

.hero-text-container {
   margin-right: 30px;
   flex: 1;
}

.signup-button,
.hero-button {
   padding: 10px 30px;
   border-radius: 10px;
   
}

.hero-button {
   border: transparent;
   padding: 15px 45px;
}

button{
   font-size: 15px;
}

button:hover {
   
   color: #B438F6; 
   background: #f9faf8;
   cursor: pointer;
}

.main-heading {
   font-size: 48px;
   font-weight: 900;
   color: #f9faf8;
   margin-bottom: 0;
}

.main-subtext,
.head-link,
.footer,
.signup-subtext {
   font-size: 18px;
   
   color: #E9E5EB;
}

.main-subtext {
   margin-top: 0;
}

.hero-img-container {
   display: flex;
   justify-content: center; 
   
}

.hero-img {
   width: 33vw;
   height: auto;
}

.info-section {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh;
}

.info-heading,
.info-text,
.quote-text,
.quote-source-text {
 
   color: #2E1F37;
}

.info-heading {
   text-align: center;
   font-size: 36px;
   font-weight: 900;
}

.info-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   align-content: center;
   flex: 1;
   gap: 20px;
   width: 90%;
}

.info-item-link {
   flex: 0 1 20%; /*item will not grow to fill available space in container. Its width will always be 20% of its container's (parent's) width (flex-basis: 20%)*/
   text-decoration: none;

   padding: 10px;
}

.info-item-link:hover {
   
   background: #b438f64d ;
   border-radius: 8%;
}

.info-item {
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.info-img-container {
   width: 100%; /* its width is 100% (equal to) its container*/

   display: flex;
   justify-content: center;
   align-items: center;
}

.info-img {
   width: 150px;
   
   border: 2px solid #B438F6 ;
   border-radius: 8%;
   flex: 1; /*img width is 150px, but grows to fill its container (info-img-container)*/
}

.quote-section {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #E9E5EB;
}

.quote-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 55%;
}

.quote-text {
   font-size: 36px;
   font-weight: 100;
   font-style: italic;
}

.quote-source-container {
   width: 100%;
   padding-right: 30px;
}

.quote-source-text {
   text-align: end;
   font-size: 24px;
   font-weight: 800;
}

.signup-section {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

.signup-box,
.signup-button,
.hero-button {
   background: #B438F6 ;
}

.signup-box {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   width: 70%;
   padding: 30px 20px;
   border-radius: 5px;
}

.signup-msg-container {
   margin-right: 20px;
}

.signup-heading,
.signup-button,
.hero-button {
   color: #f9faf8;
}

.signup-heading {
   font-size: 24px;
   margin-bottom: 0;
}

.signup-subtext {
   margin-top: 0;
}

.signup-button {
   border: 2px solid #f9faf8;
}

.footer {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 10vh;
}
