body{
    margin:0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-between;
    padding:  0 30px;

}

.header-links{
    display: flex;
    list-style-type: none;
}

.head-link{
    text-decoration: none;
    margin: 10px;
}