body{
    margin:0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

.header, .hero-section, .footer{
    background: #1f2937;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%; /*Used relative measurement here to ensure that the spaces to the left and right of the header maintained the same look whether the window was maximized or minimized. Same for padding in hero section*/
    height: 10vh;
    
    

}

.header-logo{
    font-size: 24px;
    color: #f9faf8;
}



.header-links{
    display: flex;
    list-style-type: none;
}

.head-link{
    text-decoration: none;
    margin: 10px;
    
}

.hero-section{
   display: flex;
   padding: 0 10%;
   justify-content: space-between;
    align-items: center;
   height: 100vh;
   
}



.hero-text-container{
 margin-right: 30px;
  flex: 1 ; 
}

.signup-button, .hero-button{
    padding: 10px 30px;
    border-radius: 10px;
}

.hero-button{
    border: transparent;
}

.main-heading{
    font-size: 48px;
   font-weight: 900;
   color: #f9faf8;
   margin-bottom: 0;
    
}

.main-subtext, .head-link, .footer, .signup-subtext{
    font-size: 18px;
    color: #e5e7eb;
}

.main-subtext{
    margin-top: 0;
}



.hero-img-container{
    height:300px;
    background: grey;
    flex: 2 ;/*image would be twice as wide as text at any given time*/
      
}

.info-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
   
    
}

.info-heading, .info-text, .quote-text, .quote-source-text{
    color: #1f2937;
}

.info-heading{
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  
}



.info-container{      
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    
}

.info-item{
    margin: 10px;
    text-align: center;
    width: 150px;
}




.info-img-container{
    height: 150px;
    border: 2px solid #3882f6;
    border-radius: 7%;
    
}

.quote-section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e5e7eb;
}


.quote-container{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
}

.quote-text{
    font-size: 36px;
    font-weight: 100;
    font-style: italic;

}

.quote-source-container{
    width: 100%;
    padding-right: 30px;
}

.quote-source-text{

 text-align: end;
 font-size: 24px;
 font-weight: 800;

}

.signup-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.signup-box, .signup-button, .hero-button{
    background: #3882f6;
}

.signup-box{
    display: flex;
   justify-content: space-evenly;
    align-items: center;
     width: 70%;
    padding: 30px 20px;
    border-radius: 5px;
   
}

.signup-msg-container{
    margin-right: 20px;
}

.signup-heading, .signup-button, .hero-button{
    color: #f9faf8;
}

.signup-heading{
    font-size: 24px;
    margin-bottom: 0;
}

.signup-subtext{
    margin-top: 0;
}


.signup-button{ 
    border: 2px solid #f9faf8; 
}


.footer{
    display: flex;
    justify-content: center;
    align-items: center;  
    height: 10vh;
}






